aniso8601==6.0.0
boto3==1.9.142
botocore==1.12.142
certifi==2018.8.24
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.3
Werkzeug==0.15.2
wincertstore==0.2
